<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.fx.Demo"
            id="org.eclipse.rap.fx.demo.entrypoint"
            path="/fxdemo">
      </entrypoint>
   </extension>
</plugin>
